<div fxLayout="row" fxLayoutAlign="space-around center" class="fixed-pos-bottom">
  <div fxLayout="column" fxLayoutAlign="center center" routerLink="/user/home">
    <mat-icon class="icon-size-40">home</mat-icon>
    <p>Home</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" routerLink="/user/track-chain">
    <mat-icon class="icon-size-40">qr_code</mat-icon>
    <p>Scan QR</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" routerLink="/user/chain-history">
    <mat-icon class="icon-size-40">history</mat-icon>
    <p>History</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" routerLink="/user/profile">
    <mat-icon class="icon-size-40">person</mat-icon>
    <p>Profile</p>
  </div>
</div>
